/* 기본 스타일 설정 */
* {
  box-sizing: border-box;
}


body {
  background-color: rgb(10,10,10);
  margin: 0;
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}
  
h1 {
  font-size: 2rem;
  color: rgb(216, 0, 0);
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
  color: rgb(182, 182, 182);
}

h3.h3red {
  font-size: 1.5rem;
  color: #9dff00;
}

h4 {
  font-size: 1.0rem;
  color: rgb(182, 182, 182);
}

h5 {
  font-size: 0.8rem;
  color: rgb(182, 182, 182);
}

h6 {
  font-size: 0.6rem;
  color: rgb(182, 182, 182);
}

a {
  color: rgb(182, 182, 182);
}

a:hover {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  min-height: 80%;
  margin: auto;
  margin-top: 2vh;
  text-align: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: auto;
  margin-top: 2vh;
  text-align: center;
}

.overlay {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}


.border {
  width: 90vw;
  border-radius: 5px;
  padding: 0px;
  margin: -10px;
  display: inline-block;
  text-align: center;
  background-color: white;
}

.contents {
  height: 100%;
}

.data-output {
  margin-top: 1rem;
  text-align: center;
}

.footer {
  display:flex;
  text-align: center;
}

/* bubbles */
.bubble-container {
  position: relative;
  width: 80vw;
  height: 70vh;
  overflow: hidden;
}

.bubble {
  position: absolute;
  bottom: -100px;
  font-size: 1.0rem;
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  min-width: 30vw;
  max-width: 50vw;
  text-align: left;
}

.animation {
  animation: floatBubble 5s linear forwards;
}

@keyframes bubble {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(calc(-100% - var(--endY))); /* 종료 위치를 상단 0~20% 사이의 랜덤 값으로 변경 */
  }
}


@keyframes floatBubble {
  0% {
    bottom: -50%;
    opacity: 0;
  }

  10% {
    bottom: 10%;
    opacity: 0;
  }

  25% {
    bottom: 25%;
    opacity: 0.3;
  }

  50% {
    bottom: 50%;
    opacity: 1;
  }


  75% {
    bottom: 75%;
    opacity: 0.3;
  }

  90% {
    bottom: 90%;
    opacity: 0;
  }

  100% {
    bottom: 100%;
    opacity: 0;
  }
}
/* 스마트폰 */
@media (max-width: 767px) {
  body {
    padding: 0 16px;
  }
  .bubble {
    font-size: 0.8rem;
    bottom: -200px;
  }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 0 32px;
  }
}

/* PC */
@media (min-width: 1024px) {
  body {
    padding: 0 48px;
  }
}
