.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}

.iframe {
  width: 300px;
  height: auto;
}

h1, h2, h3 {
  font-family: 'Nanum Myeongjo', serif;
}

h1 {
  color: red;
}